<!-- apiCredentials.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API Credentials</title>
    <link rel="stylesheet" href="../public/apicredential-style.css">
</head>
<body>
    <form id="apiForm" action="/get-stocks" method="post">
        <label for="apiKey">API Key:</label>
        <input type="text" id="apiKey" name="api_key" required><br><br>
        <label for="apiSecret">API Secret:</label>
        <input type="password" id="apiSecret" name="api_secret" required><br><br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>

